* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  border: 1px solid black;
  min-height: 400px;
}

.header {
  display: flex;
  justify-content: space-between; /* Centrerar loggan till vänster och sökrutan till höger */
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.logo {
  width: 120px;
  margin: 1em;
  margin-right: 30px;
}

.star {
  font-size: 38px;
  color: gold;
  margin-left: 30px;
  margin-right: 30px;
}

.star:hover {
  transform: scale(1.10);
  cursor: pointer;
}

.search-box {
  flex: 1; 
  display: flex; 
  align-items: center; 
}

.search-input {
  flex: 1; 
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-align: center; 
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  transform: scale(1.01);
  outline: none;
  box-shadow: 1px 1px 8px 2px rgb(131, 131, 131);
}

nav{
  width: 100%;
}

ul{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: .5rem 0;
  list-style-type: none;
  gap: .5rem;
}

li{
  flex: 1;
  height: 4rem;
  background-color: grey;
}

main{
  background-color: rgba(24, 24, 24, 1);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2em;
  flex-direction: column;
  align-items: center;
}

article {
  flex: 1;
  height: 25rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-left,
.footer-center,
.footer-right {
  display: flex;
  flex-direction: column;
}

.footer a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.footer a:hover {
  text-decoration: underline;
}