.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    margin: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    padding: 1rem;
    background-color: rgb(36, 36, 36);
}

.movie-card:hover {
    transform: scale(1.05);
}

.favStar {
    color: gold;
    font-size: 28px;
    position: absolute;
    top: 60px;
    right: 25px;
    cursor: pointer;
}

.favStar:hover, .watchPlus:hover {
    transform: scale(1.10);
}

.watchPlus {
    color: rgb(50, 50, 231);
    border: 2px solid rgb(50, 50, 231);
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    top: 60px;
    left: 25px;
}

h2 {
    color: #f5c518;
    font-size: 16px;
    max-width: 10rem;
    margin-bottom: 1em; 
}

.movie-poster {
    width: 100%; 
    max-width: 200px; 
    height: 100%;
    object-fit: cover;
    
}

.trailers-src {
    width: 50%;
    min-height: 400px;
    margin: 2em;
}

h1 {
    color: #f5c518;
}

.video-trailers {
    width: 100%;
    display: flex;
    justify-content: center;
}